variables:
  Agent.Source.Git.ShallowFetchDepth: 0

steps:
- checkout: self

- pwsh: dotnetdeployer github release --github-token $(GitHubApiKey) --android-keystore-base64 $(AndroidBase64Keystore) --android-key-alias $(AndroidSigningKeyAlias) --android-key-pass $(AndroidSigningKeyPass) --android-store-pass $(AndroidSigningStorePass) --release-name AngorApp
  displayName: Release App
