variables:
  Agent.Source.Git.ShallowFetchDepth: 0

steps:
- checkout: self

- script: /usr/local/lib/android/sdk/cmdline-tools/latest/bin/sdkmanager --sdk_root=/usr/local/lib/android/sdk "platform-tools"
  displayName: Install Android SDK "Platform Tools"

- pwsh: dotnetdeployer github release --github-token $(GitHubApiKey) --android-keystore-base64 $(AndroidBase64Keystore) --android-key-alias $(AndroidSigningKeyAlias) --android-key-pass $(AndroidSigningKeyPass) --android-store-pass $(AndroidSigningStorePass) --release-name AngorApp
  displayName: Release App
